@font-face {
    font-family: "Netflix Sans Bk";
    src: url("./assets/fonts/NetflixSansBlack.ttf");
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: "Netflix Sans Regular";
    src: url("./assets/fonts/NetflixSansRegular.ttf");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Netflix Sans Medium";
    src: url("./assets/fonts/NetflixSansMedium.ttf");
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: "Netflix Sans Thin";
    src: url("./assets/fonts/NetflixSansThin.ttf");
    font-weight: 100;
    font-style: normal;
  }
  
  /* GENERAL SETTINGS */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
  }
  
  h2{
    font-family: "Netflix Sans Regular";
  }
  
  body {
    background-color: #141414;
  }
  
  /* COLOR VARIABLES */
  :root {
    --white: #fff;
    --light-gray-1: #dddd;
    --light-gray-2: #e5e5e5;
    --gray-1: #8a8a8a;
    --gray-2: #808080;
    --black: #141414;
    --red: #b9090b;
  }
  
  
  
  /* NetflixLogoSettings */
  .navbar{
    display: flex;
    width: 100%;
  }
  
  .logo{
    width: 120px;
    height: 70px;
  }
  
  .left__header__links{
    margin-top: 20px;
    margin-left: 16px;
  }
  
  .left__header__links ul li a{
    text-decoration: none;
    color: var(--white);
    font-family: "Netflix Sans Thin";
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  
  .left__header__links ul li{
    display: inline-block;
    margin: 6px; 
  }
  
  .right__header__links{
    margin-top: 10px;
    margin-left: 970px;
    display: flex;
  }
  .right__header__links a{
      padding-right: 20px;
  }
  
  .profile__img{
    vertical-align: middle;
  }
  /*Prova  dropdown*/
  .dropbtn{
    background-color: var(--red);
    color: var(--white);
    border: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a{
    color: var(--black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: #141414;
    border-color: #808080;
  }
  .profile{
      display: flex;
      margin: 8px 4px;
      height: 35px;
  }
  .profile img{
      border-radius: 15%;
  }
  .dropdown-content .profile:hover{
    background: rgba(117, 114, 114, 0.5);
  }
  .up{
    border-top: 2px solid #808080;
  }
  /* HomePageBannerImage */
  .banner {
    background-image: url("./assets/images/MoviePoster.png");
    background-size: cover;
    background-position: center;
    color: var(--white);
    object-fit: contain;
    height: 750px;
  }
  
  /* BannerTitleImage */
  .banner__image img{
    padding-top: 170px;
    margin-right: 100px;
    width: 29%;
  }
  
  /* BannerTitleDescription */
  .banner__contents {
    height: 16px;
    margin-left: 30px;
    padding-top: 10px;
  }
  
  /* Top10RedIcon&BestTvSeries */
  .top__red__badge{
    padding-left: 30px;
  }
  
  .subtitle{
    display: inline-block;
    font-size: 24px;
    font-family: "Netflix Sans Thin";
    padding-bottom: 30px;
    vertical-align: middle;
    padding-left: 16px;
  }
  
  /* MainBannerGeneral */
  .banner__description,
  .banner__image,
  .top_ten,
  .banner__buttons,
  .logo {
    padding-left: 25px;
  }
  
  .banner__description {
    width: 660px;
    height: 132px;
    font-family: "Netflix Sans Regular";
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 33px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
  
  /* BannerButtonsGeneral */
  .banner__buttons{
    margin-top: 16px;
  }
  .banner__button {
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
  }
  
  .material-symbols-outlined{
    padding-right: 16px;
  }
  
  /* WhiteButton */
  #white-btn{
    color: var(--black);
    background-color: var(--white);
  }
  
  /* LightGrayButton */
  #lightgray-btn{
    background-color: rgba(121, 112, 112, 0.322);
    color: var(--white);
  }
  